<html lang="en">
  <head>
    <meta charset="utf-8" />
  {%-if author%}
    <meta name="author" content="{{author}}" />
  {%-endif%}
    <meta name="color-scheme" content="dark light" />
  {%-if pageData.head.description%}
    <meta name="description" content="{{pageData.head.description}}" />
  {%-endif%}
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  {%-if pathIcon%}
    <link rel="icon" href="{{pathIcon}}" />
  {%-endif-%}
  {%-if pageData.head.manifest%}
    <link rel="manifest" href="{{pageData.head.manifest}}" />
  {%-endif%}
    <link rel="stylesheet" href="{{sitePathRes}}/styles/base.css" />
    <link rel="stylesheet" href="{{sitePathRes}}/styles/layout.css" />
    {%include page/title.html%}