{%-include_relative _sections/_injections.html-%}
<form>
<section>
{{openColumns-}}
{{openColumnFluid-}}
<div class="group">
  <div class="field switch" id="field-short-back">
    <div class="input">
      <input id="input-short-back" type="checkbox" />
    </div>
    <label for="input-short-back">Short back</label>
  </div>
  <div class="field switch" id="field-force-caps">
    <div class="input">
      <input id="input-force-caps" type="checkbox" />
    </div>
    <label for="input-force-caps">Force CAPS</label>
  </div>
  <div class="field switch" id="field-print-2">
    <div class="input">
      <input id="input-print-2" type="checkbox" />
    </div>
    <label for="input-print-2"><s>Print 2</s></label>
  </div>
</div>
<details>
  <summary>Push Open</summary>
  <div class="group">
    <div class="field switch" id="field-reverse">
      <div class="input">
        <input id="input-reverse" type="checkbox" />
      </div>
      <label for="input-reverse">Reverse</label>
    </div>
    <div class="field switch" id="field-short-spine">
      <div class="input">
        <input id="input-short-spine" type="checkbox" />
      </div>
      <label for="input-short-spine">Short spine<sub>β</sub></label>
    </div>
    <div class="field switch" id="field-fill-cover">
      <div class="input">
        <input id="input-fill-cover" type="checkbox" />
      </div>
      <label for="input-fill-cover">Fill cover</label>
    </div>
  </div>
  <div class="group">
    <div class="field switch" id="field-bold">
      <div class="input">
        <input id="input-bold" type="checkbox" />
      </div>
      <label class="bolder" for="input-bold">Bold</label>
    </div>
    <div class="field switch" id="field-italicize">
      <div class="input">
        <input id="input-italicize" type="checkbox" />
      </div>
      <label class="oblique" for="input-italicize">Italicize</label>
    </div>
    <div class="field row switch" id="field-reset-cover">
      <div class="input short">
        <button id="button-reset-cover" type="button">Reset Cover</button>
      </div>
    </div>
  </div>
  <p><samp>Short back</samp> is 0.6 in. <samp>Short spine</samp> is 0.4 in.</p>
</details>
<div class="field row" id="field-cover-image">
  <label for="input-cover-image">Cover image:</label>
  <div class="input fluid">
    <input id="input-cover-image" type="file" accept="image/*" />
  </div>
</div>
<div class="field row" id="field-font-family">
  <label for="input-font-family">Font family:</label>
  <div class="input fluid">
    <input id="input-font-family" type="text" list="list-font-family" maxlength="1023" />
    <datalist id="list-font-family">
      <option>Alte Haas Grotesk</option>
      <option>cursive</option>
      <option>emoji</option>
      <option>fangsong</option>
      <option>fantasy</option>
      <option>math</option>
      <option>monospace</option>
      <option>sans-serif</option>
      <option>serif</option>
      <option>system-ui</option>
      <option>ui-monospace</option>
      <option>ui-rounded</option>
      <option>ui-sans-serif</option>
      <option>ui-serif</option>
    </datalist>
  </div>
</div>
{{closeColumn-}}
{{closeSection-}}
{{openSection-}}
{{openColumnShort-}}
<div class="field switch" id="field-black-and-white">
  <div class="input">
    <input id="input-black-and-white" type="checkbox" />
  </div>
  <label for="input-black-and-white">Black and white</label>
</div>
{{openGroup-}}
<div class="field row small" id="field-card-color">
  <label for="input-card-color">Card color:</label>
  <div class="input short">
    <input id="input-card-color" type="color" />
  </div>
</div>
<div class="field row small" id="field-text-color">
  <label for="input-text-color">Text color:</label>
  <div class="input short">
    <input id="input-text-color" type="color" />
  </div>
</div>
{{closeGroup-}}
{{closeColumn-}}
{{closeColumns-}}
</section>
<details open>
<summary><h3>Titles</h3></summary>
{% include_relative _sections/titles.html-%}
</details>
<details>
<summary><h3>Footer</h3></summary>
{% include_relative _sections/footer.html-%}
</details>
<details>
<summary><h3>Notes</h3></summary>
{% include_relative _sections/notes.html-%}
</details>
<details>
<summary><h3>Contents</h3></summary>
{% include_relative _sections/contents.html-%}
</details>
<details>
<summary><h3>Calibration</h3></summary>
{% include_relative _sections/calibration.html-%}
</details>
</form>
