* {
  /* epiphany */
  border-radius: 0;
  box-sizing: border-box;
  color-adjust: exact;
  margin: 0;
  min-width: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

:focus {
  /* chromium */
  outline: none;
}

body {
  background-color: var(--colorBackground);
  --color: #efefef;
  --colorAccentHigh: #afafaf;
  --colorAccentHighBump: #b7b7b7;
  --colorAccentHighDent: #a7a7a7;
  --colorAccentLow: #4f4f4f;
  --colorAccentLowBump: #575757;
  --colorAccentLowDent: #474747;
  --colorAccentMax: #dfdfdf;
  --colorAccentMaxBump: #e7e7e7;
  --colorAccentMaxDent: #d7d7d7;
  --colorAccentMid: #7f7f7f;
  --colorAccentMidBump: #878787;
  --colorAccentMidDent: #777777;
  --colorAccentMin: #1f1f1f;
  --colorAccentMinBump: #272727;
  --colorAccentMinDent: #171717;
  --colorAccentOver: #fff;
  --colorAccentUnder: #000;
  --colorAnchor: #7f7fef;
  --colorAnchorFocus: #bfefbf;
  --colorAnchorFocusBackground: #0fef0f7f;
  --colorAnchorFocusBackgroundSolid: #178717;
  --colorAnchorHover: #bfbfef;
  --colorAnchorHoverBackground: #0f0fef7f;
  --colorAnchorHoverBackgroundSolid: #171787;
  --colorBackground: #0f0f0f;
  --colorButtonActiveBackground: #0fef0f3f;
  --colorButtonActiveBackgroundSolid: #1b521b;
  --colorButtonFocusOutline: #efbf0f;
  --colorButtonHoverBackground: #0f0fef3f;
  --colorButtonHoverBackgroundSolid: #1b1b52;
  --colorHighlightBackground: #ef7f0f7f;
  --colorHoverBackground: #efefef12;
  --colorHoverBackgroundSolid: #1f1f1f;
  --colorInputActiveBorder: #0fefbf;
  --colorInputBackground: var(--colorAccentUnder);
  --colorInputFocusBorder: #0fbfef;
  --colorInputHoverBorder: #0f0fef;
  --colorInputInvalidBorder: #ef0fbf;
  --colorNetMenuActiveBackground: var(--colorButtonActiveBackground);
  --colorNetMenuHoverBackground: var(--colorButtonHoverBackground);
  --colorNetMenuFocusBackground: var(--colorButtonActiveBackground);
  --colorTechnical: #efbf7f;
  --fontFamily: "Cantarell", "Roboto", "San Francisco", "Segoe UI",
    "Liberation Sans", "Arimo", "Arial", sans-serif;
  --fontFamilyMonospace: "Liberation Mono", "Roboto Mono", "Cousine", monospace;
  --fontSize: 12pt;
  --fontSizeBump: 12.9996pt;
  --fontSizeDent: 11.0004pt;
  --fontSizeFactorBump: 1.0833;
  --fontSizeFactorDent: 0.9167;
  --fontSizeFactorH0: 2;
  --fontSizeFactorH1: 1.6667;
  --fontSizeFactorH2: 1.3333;
  --fontSizeFactorH3: 1.125;
  --fontSizeFactorH4: 1;
  --fontSizeFactorH5: 0.875;
  --fontSizeFactorH6: 0.775;
  --fontSizeFactorNetMenu: var(--fontSizeFactorH5);
  --fontSizeFactorSmaller: var(--fontSizeFactorH5);
  --fontSizeH0: 24pt;
  --fontSizeH1: 20.0004pt;
  --fontSizeH2: 15.9996pt;
  --fontSizeH3: 13.5pt;
  --fontSizeH4: var(--fontSize);
  --fontSizeH5: 10.5pt;
  --fontSizeH6: 9.3pt;
  --fontSizeNetMenu: 10.5pt;
  --fontSizeSmaller: var(--fontSizeH5);
  --spacer: 0.25em;
  --spacer2: 0.5em;
  --spacer3: 0.75em;
  --spacer4: 1em;
  --spacer5: 1.25em;
  --spacer6: 1.5em;
  --spacer7: 1.75em;
  --spacer8: 2em;
  --spacer16: 4em;
}

a,
a:visited {
  color: var(--colorAnchor);
}

a:hover {
  background-color: var(--colorAnchorHoverBackground);
  color: var(--colorAnchorHover);
}

a:focus {
  background-color: var(--colorAnchorFocusBackground);
  color: var(--colorAnchorFocus);
}

a::before,
body {
  color: var(--color);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}

a.out::before {
  content: "*";
}

a.up::before {
  content: "^";
}

h1 {
  font-size: var(--fontSizeH1);
}

h2 {
  font-size: var(--fontSizeH2);
}

h3 {
  font-size: var(--fontSizeH3);
}

h4 {
  font-size: var(--fontSizeH4);
}

h5 {
  font-size: var(--fontSizeH5);
}

h6 {
  font-size: var(--fontSizeH6);
}

.banner {
  display: flex;
  flex-flow: column nowrap;
}

.banner > :not(:last-child),
.banner > :only-child {
  margin-block-end: var(--spacer);
}

.banner > .subtitle {
  text-align: start;
}

.banner > .subtitle::before {
  content: "—";
}

.banner > .title {
  font-size: var(--fontSizeH0);
  font-weight: bold;
}

.banner > .title::after {
  border: 1px solid var(--colorAccentMin);
  border-block-end-color: var(--colorAccentLow);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  font-size: 7pt;
  font-style: italic;
  font-weight: initial;
  line-height: initial;
  margin-inline-end: var(--spacer4);
  margin-inline-start: var(--spacer4);
  padding-inline-end: var(--spacer);
}

.eden {
  font-family: "Liberation Sans", "Arimo", "Arial", "Helvetica", sans-serif;
  font-style: italic;
}

.highlight {
  background-color: var(--colorHighlightBackground);
  text-decoration: underline;
}

.no-margin * {
  margin-block-end: 0;
  margin-block-start: 0;
}

.no-padding * {
  padding-block-end: 0;
  padding-block-start: 0;
}

.smaller {
  font-size: var(--fontSizeSmaller);
}

@media (max-width: 720px) {
  body {
    --fontSize: 11pt;
    --fontSizeBump: 11.9163pt;
    --fontSizeDent: 10.0837pt;
    --fontSizeH0: 22pt;
    --fontSizeH1: 18.3337pt;
    --fontSizeH2: 14.6663pt;
    --fontSizeH3: 12.375pt;
    --fontSizeH5: 9.625pt;
    --fontSizeH6: 8.525pt;
  }

  .banner > .title::after {
    content: "MOBILE-READY";
  }
}

@media (prefers-color-scheme: light), print {
  body {
    --color: #0f0f0f;
    --colorAccentHigh: #4f4f4f;
    --colorAccentHighBump: #575757;
    --colorAccentHighDent: #474747;
    --colorAccentLow: #afafaf;
    --colorAccentLowBump: #b7b7b7;
    --colorAccentLowDent: #a7a7a7;
    --colorAccentMax: #1f1f1f;
    --colorAccentMaxBump: #272727;
    --colorAccentMaxDent: #171717;
    --colorAccentMid: #7f7f7f;
    --colorAccentMidBump: #878787;
    --colorAccentMidDent: #777777;
    --colorAccentMin: #dfdfdf;
    --colorAccentMinBump: #e7e7e7;
    --colorAccentMinDent: #d7d7d7;
    --colorAccentOver: #000;
    --colorAccentUnder: #fff;
    --colorAnchor: #0f0fef;
    --colorAnchorFocus: #0f7f0f;
    --colorAnchorFocusBackgroundSolid: #77e777;
    --colorAnchorHover: #0f0f7f;
    --colorAnchorHoverBackgroundSolid: #7777e7;
    --colorAnchorVisited: #7f0fbf;
    --colorBackground: #efefef;
    --colorButtonActiveBackgroundSolid: #ace3ac;
    --colorButtonHoverBackgroundSolid: #acace3;
    --colorHoverBackground: #0f0f0f12;
    --colorHoverBackgroundSolid: #dfdfdf;
    --colorTechnical: #7f3f0f;
  }
}

@media print {
  body {
    background: unset;
  }

  .banner > .title::after {
    content: "PRINT-READY";
  }

  .highlight {
    background-color: unset;
  }
}

.css-curtain {
  display: none !important;
}
