:not(a) > li:hover {
  background-color: var(--colorHoverBackground);
}

body {
  line-height: var(--lineHeight);
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-width: 720px;
  min-width: auto;
  --lineHeight: calc(var(--spacer) * 6.68);
}

article {
  margin-block-end: 4%;
  margin-block-start: var(--spacer4);
  padding-inline-end: 4%;
  padding-inline-start: 4%;
}

article div.hr {
  margin-block-end: var(--spacer);
  margin-block-start: var(--spacer);
}

article > section {
  margin-block-end: var(--spacer8);
  margin-block-start: var(--spacer6);
  padding-block-start: var(--spacer2);
}

article > section:target {
  animation: 2s linear 3s both targetHighlightFadeOut;
}

article > section form,
article > section h5,
article > section li,
article > section ol,
article > section p,
article > section ul {
  margin-block-end: var(--spacer3);
}

article > section ol ol,
article > section ul ul {
  margin-block-start: var(--spacer2);
  margin-inline-start: var(--spacer2);
}

article > section p::before {
  color: var(--colorAccentMin);
  content: "¶ ";
  font-size: smaller;
}

article > section pre {
  margin-block-end: var(--spacer2);
}

article > section > div {
  margin-block-end: var(--spacer4);
}

article > section > header {
  margin-block-end: var(--spacer2);
}

article > section > header p {
  margin-block-end: unset;
}

article > section > header p::before {
  color: unset;
  content: unset;
  font-size: unset;
}

article > section > header > .subtitle {
  font-style: italic;
  font-weight: bold;
}

blockquote {
  border-inline-start-color: var(--colorAccentMin);
  border-inline-start-style: solid;
  border-inline-start-width: 2px;
  color: var(--colorAccentHigh);
  padding-inline-start: var(--spacer4);
}

code,
kbd > kbd,
kbd > samp,
pre,
li.technical > :not(ol):first-child,
li.technical > :not(ul):first-child,
ul.technical > li > :not(ol):first-child,
ul.technical > li > :not(ul):first-child {
  background-color: var(--colorAccentMin);
  font-family: var(--fontFamilyMonospace);
  font-size: smaller;
  padding: var(--spacer);
}

code,
pre,
li.technical > :not(ol):first-child,
li.technical > :not(ul):first-child,
ul.technical > li > :not(ol):first-child,
ul.technical > li > :not(ul):first-child {
  color: var(--colorTechnical);
}

pre {
  line-height: initial;
  overflow-x: auto;
}

li.anchor,
ul.anchor,
li.headered,
ul.headered,
li.technical,
ul.technical {
  list-style-type: none;
}

li.anchor::before,
ul.anchor > li::before {
  display: none;
}

li.anchor > :not(ol):first-child > a,
li.anchor > :not(ul):first-child > a,
ul.anchor > li > :not(ol):first-child > a,
ul.anchor > li > :not(ul):first-child > a,
li.headered > :not(ol):first-child,
li.headered > :not(ul):first-child,
ul.headered > li > :not(ol):first-child,
ul.headered > li > :not(ul):first-child {
  font-weight: bold;
}

kbd > kbd,
kbd > samp {
  border-radius: 4px;
  color: var(--colorAccentMax);
}

del {
  color: var(--colorAccentMid);
}

div.hr {
  border: 0;
  border-block-end-color: var(--colorAccentLow);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-start-color: var(--colorAccentMin);
  border-block-start-style: solid;
  border-block-start-width: 1px;
}

ul {
  list-style: "‒ " outside;
}

ul ul.anchor,
ul ul.headered,
ul ul.technical {
  list-style: "⌎› " outside;
}

img {
  margin: auto;
  max-width: 100%;
}

li {
  margin-inline-start: var(--spacer4);
}

li > :not(ul):first-child + :not(ul)::before {
  content: " — ";
}

.smaller {
  line-height: var(--lineHeight);
}

@keyframes targetHighlightFadeOut {
  from {
    background-color: var(--colorHoverBackground);
  }

  to {
    background-color: var(--colorBackground);
  }
}
