article > header > :not(:last-child) {
  margin-block-end: var(--spacer);
}

article > header > :only-child,
footer > section.page-info {
  margin-block-end: var(--spacer2);
}

article > header > h1,
footer > section.page-info > .banner > .title {
  font-size: var(--fontSizeH1);
}

article > header > .subtitle::before {
  content: "—";
}

footer {
  background-color: var(--colorAccentMin);
  border-block-start-color: var(--colorAccentHigh);
  border-block-start-style: solid;
  border-block-start-width: 1px;
  border-inline-end-color: var(--colorAccentLow);
  border-inline-end-style: solid;
  border-inline-end-width: 1px;
  border-inline-start-color: var(--colorAccentLow);
  border-inline-start-style: solid;
  border-inline-start-width: 1px;
  font-size: var(--fontSizeSmaller);
  margin-inline-end: 4%;
  margin-inline-start: 4%;
  padding-block-end: 4%;
  padding-block-start: var(--spacer4);
  padding-inline-end: var(--spacer4);
  padding-inline-start: var(--spacer4);
}

footer > nav > .menu {
  justify-content: center;
}

footer > section.page-info {
  display: flex;
  flex-flow: row;
}

footer > section.page-info > :not(:last-child) {
  margin-inline-end: var(--spacer4);
}

footer > section.page-info > div {
  overflow: auto;
}

footer > section.page-info > .banner {
  align-self: center;
  flex-grow: 1;
}

@media (max-width: 720px) {
  footer {
    margin: unset;
    padding-block-end: var(--spacer16);
  }

  footer > section.page-info {
    flex-direction: column;
  }

  footer > section.page-info > :not(:last-child) {
    margin-block-end: var(--spacer2);
    margin-inline-end: unset;
  }

  footer > section.page-info > div {
    text-align: center;
  }

  footer > section.page-info > .banner {
    flex-basis: auto;
  }
}

@media print {
  footer {
    margin: unset;
  }

  footer > nav > .menu {
    display: none;
  }
}

@media speech {
  footer > section.page-info > .banner {
    display: none;
  }
}
