article > nav {
  background-color: var(--colorBackground);
}

.page-menu,
.page-jump-menu {
  color: var(--colorAccentMax);
  display: flex;
  flex-flow: row wrap;
}

.page-menu a,
.page-jump-menu a {
  margin-inline-end: 4px;
  margin-inline-start: 4px;
}

.page-menu > span:not(:first-child):not(:last-child)::after,
.page-jump-menu > span::after,
.page-jump-menu > span:first-child::before {
  content: "—";
}

.page-menu > span:first-child {
  font-size: smaller;
  font-weight: bold;
  margin-inline-end: var(--spacer2);
}

@media (max-width: 720px) {
  article > nav {
    display: none;
  }
}

@media print {
  article > nav {
    display: unset;
  }
}
