.una-menu {
  font-size: var(--fontSizeNetMenu);
  user-select: none;
}

.una-menu.soil,
.una-menu.root,
.una-menu.root:focus-within > .una-menu.stem,
.una-menu.twig,
.una-menu.twig:hover > .una-menu.stem,
.una-menu.twig:focus-within > .una-menu.stem,
.una-menu.leaf,
.una-menu.item,
.una-menu.icon {
  display: flex;
}

.una-menu.soil,
.una-menu.twig,
.una-menu.leaf,
.una-menu.item,
.una-menu.icon {
  flex-direction: row;
}

.una-menu.root,
.una-menu.root:focus-within > .una-menu.stem,
.una-menu.twig,
.una-menu.twig:hover > .una-menu.stem,
.una-menu.twig:focus-within > .una-menu.stem,
.una-menu.leaf,
.una-menu.item,
.una-menu.icon {
  flex-wrap: nowrap;
}

.una-menu.root,
.una-menu.twig {
  position: relative;
}

.una-menu.root,
.una-menu.stem {
  flex-direction: column;
}

.una-menu.root > .una-menu.stem,
.una-menu.twig > .una-menu.stem {
  display: none;
}

.una-menu.root > .una-menu.item,
.una-menu.twig > .una-menu.item,
.una-menu.leaf > .una-menu.item,
.una-menu.item > label,
.una-menu.icon,
.una-menu.mnemonic {
  flex-shrink: 0;
}

.una-menu.root > .una-menu.item,
.una-menu.twig > .una-menu.item,
.una-menu.leaf > .una-menu.item,
.una-menu.item > label,
.una-menu.mnemonic {
  flex-basis: auto;
  flex-grow: 1;
}

.una-menu.root:hover,
.una-menu.twig:hover,
.una-menu.leaf:hover {
  background-color: var(--colorNetMenuHoverBackground);
}

.una-menu.root:focus-within,
.una-menu.twig:focus-within {
  background-color: var(--colorNetMenuFocusBackground);
}

.una-menu.root:active,
.una-menu.twig:active,
.una-menu.leaf:active {
  background-color: var(--colorNetMenuActiveBackground);
}

.una-menu.stem > label,
.una-menu.item {
  padding-inline-end: var(--spacer2);
  padding-inline-start: var(--spacer2);
}

.una-menu.item > label,
.una-menu.mnemonic {
  min-width: max-content;
}

.una-menu.soil {
  flex-wrap: wrap;
}

.una-menu.soil > .una-menu.hr {
  border-inline-end-color: var(--colorAccentHigh);
  border-inline-end-style: solid;
  border-inline-end-width: 1px;
  border-inline-start-color: var(--colorAccentLow);
  border-inline-start-style: solid;
  border-inline-start-width: 1px;
}

.una-menu.root > .una-menu.stem {
  left: 0;
  top: 100%;
}

.una-menu.twig > .una-menu.stem {
  left: calc(100%);
  top: -2px;
}

.una-menu.twig:hover > .una-menu.stem {
  animation: 0.125s step-end netMenuShowStemOnHover;
}

.una-menu.twig:focus-within > .una-menu.stem {
  animation-duration: 0s;
}

.una-menu.twig > .una-menu.item::after {
  content: "►";
  margin-inline-start: var(--spacer2);
}

.una-menu.stem {
  background-color: var(--colorAccentMin);
  border-block-end-color: var(--colorAccentLow);
  border-block-end-style: solid;
  border-block-end-width: 2px;
  border-block-start-color: var(--colorAccentHigh);
  border-block-start-style: solid;
  border-block-start-width: 2px;
  border-inline-end-color: var(--colorAccentLow);
  border-inline-end-style: solid;
  border-inline-end-width: 2px;
  border-inline-start-color: var(--colorAccentHigh);
  border-inline-start-style: solid;
  border-inline-start-width: 2px;
  position: absolute;
  z-index: 1;
}

.una-menu.stem > label {
  font-size: smaller;
  font-weight: bold;
}

.una-menu.stem > .una-menu.hr {
  border-block-end-color: var(--colorAccentHigh);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-start-color: var(--colorAccentLow);
  border-block-start-style: solid;
  border-block-start-width: 1px;
}

.una-menu.item > :not(:last-child) {
  margin-inline-end: var(--spacer2);
}

.una-menu.item > label {
  text-align: start;
}

.una-menu.icon {
  align-content: center;
  flex-basis: var(--spacer6);
  flex-grow: 0;
  justify-content: center;
  min-width: var(--spacer6);
}

.una-menu.icon > * {
  margin: auto;
}

.una-menu.mnemonic {
  color: var(--colorAccentMid);
  text-align: end;
}

@media (prefers-color-scheme: light), print {
  .una-menu.soil > .una-menu.hr {
    border-inline-end-color: var(--colorAccentLow);
    border-inline-start-color: var(--colorAccentHigh);
  }

  .una-menu.stem {
    border-block-end-color: var(--colorAccentHigh);
    border-block-start-color: var(--colorAccentLow);
    border-inline-end-color: var(--colorAccentHigh);
    border-inline-start-color: var(--colorAccentLow);
  }

  .una-menu.stem > .una-menu.hr {
    border-block-end-color: var(--colorAccentLow);
    border-block-start-color: var(--colorAccentHigh);
  }
}

@keyframes netMenuShowStemOnHover {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}
