article {
  --spacerPanel: calc(var(--spacerPx) * 720);
}

article > nav {
  margin-inline-end: var(--spacer2);
  margin-inline-start: auto;
}

article > nav + div.hr {
  margin-block-end: unset;
  margin-block-start: unset;
}

article > section:not(:last-of-type) {
  border-block-end-color: var(--color);
  border-block-end-style: solid;
  border-block-end-width: var(--spacerPx);
}

article > section:not(:first-of-type):not(:last-of-type) {
  display: flex;
  flex-flow: row nowrap;
}

article
  > section:not(:first-of-type):not(:last-of-type)
  > section:not(:last-of-type) {
  border-inline-end-color: var(--color);
  border-inline-end-style: solid;
  border-inline-end-width: var(--spacerPx);
}

article
  > section:not(:first-of-type):not(:last-of-type)
  > section:not(:first-of-type):not(:last-of-type) {
  flex-grow: 1;
  flex-shrink: 1;
}

article
  > section:not(:first-of-type):not(:last-of-type)
  > section:first-of-type,
article
  > section:not(:first-of-type):not(:last-of-type)
  > section:last-of-type {
  /* Scrollbar. */
  box-sizing: content-box;
  flex-basis: calc(
    var(--lengthFieldRowMin) + var(--paddingFieldset) * 2 + 8% -
      var(--spacerPx2)
  );
  flex-grow: 1;
  flex-shrink: 0;
  max-width: calc(
    var(--spacerPanel) - var(--spacer2) - var(--lengthFieldRowSmallMin)
  );
  overflow-y: scroll;
}

article
  > section:not(:first-of-type):not(:last-of-type)
  > section:last-of-type
  > section {
  margin-block-end: var(--spacer8);
  margin-inline-end: 4%;
  margin-inline-start: 4%;
  padding-block-start: var(--spacer2);
}

article
  > section:not(:first-of-type):not(:last-of-type)
  > section:last-of-type
  > section:not(:first-child) {
  margin-block-start: var(--spacer6);
}

article
  > section:not(:first-of-type):not(:last-of-type)
  > section:last-of-type
  > section:first-child {
  margin-block-start: var(--spacer2);
}

article > section:not(:first-of-type):not(:last-of-type) > section:empty {
  display: none;
}

article > section:first-of-type,
article > section:last-of-type {
  padding-inline-end: var(--paddingFieldset);
  padding-inline-start: var(--paddingFieldset);
}

article.reverse > nav {
  margin-inline-end: auto;
  margin-inline-start: var(--spacer2);
}

article.reverse > section:not(:first-of-type):not(:last-of-type) {
  flex-direction: row-reverse;
}

@media (max-width: 720px) and (min-width: 320px) {
  article
    > section:not(:first-of-type):not(:last-of-type)
    > section:last-of-type
    > section:last-child {
    margin-block-end: var(--spacer16);
  }
}

@media (max-width: 639px), (max-aspect-ratio: 2/3) {
  article > section:not(:first-of-type):not(:last-of-type),
  article.reverse > section:not(:first-of-type):not(:last-of-type) {
    flex-direction: column;
  }

  article
    > section:not(:first-of-type):not(:last-of-type)
    > section:not(:last-of-type) {
    border-inline-end: unset;
    border-block-end-color: var(--color);
    border-block-end-style: solid;
    border-block-end-width: var(--spacerPx);
  }

  article
    > section:not(:first-of-type):not(:last-of-type)
    > section:first-of-type,
  article
    > section:not(:first-of-type):not(:last-of-type)
    > section:last-of-type {
    flex-basis: 50%;
    max-width: unset;
  }
}

@media (max-width: 319px) {
  article > nav {
    margin-inline-end: unset;
    margin-inline-start: unset;
  }
}

@media print {
  article > :not(section:not(:first-of-type):not(:last-of-type)),
  article > nav,
  article
    > section:not(:first-of-type):not(:last-of-type)
    > :not(section#template),
  article
    > section:not(:first-of-type):not(:last-of-type)
    > section#template
    > :not(output) {
    display: none;
  }

  article
    > section:not(:first-of-type):not(:last-of-type)
    > section:not(:last-of-type) {
    border-inline-end: unset;
  }
}
