---
key: "_home-1"
layout: "document"
---
{%-include variables.html-%}
<link rel="stylesheet" href="{{sitePathRes}}/styles/input.css" />
<link rel="stylesheet" href="{{sitePathRes}}/styles/form.css" />
<link rel="stylesheet" href="res/styles/view-1.css" />
<link rel="stylesheet" href="res/styles/jcard.css" />
<script type="module" src="res/scripts/main.js"></script>
<section id="template">
{%include_relative _sections/template.html-%}
</section>
{%include sections.html-%}
<section>
  <div class="hr"></div>
  <p><i>Built on <span class="bolder">NET</span> technology.</i></p>
</section>
