---
key: "_home"
---
{%-include variables.html-%}
<link rel="stylesheet" href="{{sitePathRes}}/styles/input.css" />
<link rel="stylesheet" href="{{sitePathRes}}/styles/form.css" />
<link rel="stylesheet" href="res/styles/view.css" />
<link rel="stylesheet" href="res/styles/jcard.css" />
<script type="module" src="res/scripts/main.js"></script>
<section></section>
<section>
  <section></section>
  <section id="template">
{%include_relative _sections/template.html-%}
  </section>
  <section>
{%include nav-page.html%}
    <section>
{%include sections.html-%}
      <section>
        <div class="hr"></div>
        <p><i>Built on <span class="bolder">NET</span> technology.</i></p>
{%include nav-site.html%}
      </section>
    </section>
{%include nav-tree.html%}
  </section>
</section>
<section></section>
