@font-face {
  font-family: "Alte Haas Grotesk";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/alte-haas-grotesk.ttf") format("truetype");
}

@font-face {
  font-family: "Alte Haas Grotesk";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/alte-haas-grotesk-bold.ttf") format("truetype");
}

#template,
form .columns {
  display: flex;
  flex-flow: row wrap;
}

#template {
  overflow-x: auto;
}

#template:target {
  animation: none;
}

#template > :not(:last-child) {
  margin-block-end: var(--spacer);
  margin-inline-end: var(--spacer);
}

.jcard-output * {
  box-sizing: content-box;
}

.jcard-output .printable {
  background-color: #fff;
  color-adjust: exact;
  margin: 0.25in;
  position: relative;
  z-index: 0;
  /* non-standard */
  -webkit-print-color-adjust: exact;
}

.jcard-output .printable-bleed {
  background-color: inherit;
  position: absolute;
  z-index: -2;
  top: -0.1in;
  left: -0.1in;
  right: -0.1in;
  bottom: -0.1in;
}

.jcard-output .printable-crop {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.jcard-output .printable-crop::after,
.jcard-output .printable-crop::before {
  border: solid;
  content: "";
  position: absolute;
  z-index: -1;
}

.jcard-output .printable-crop::after {
  border-width: 1pt 0;
  top: 0;
  left: -0.25in;
  right: -0.25in;
  bottom: 0;
}

.jcard-output .printable-crop::before {
  border-width: 0 1pt;
  top: -0.25in;
  left: 0;
  right: 0;
  bottom: -0.25in;
}

.jcard-output .printable-fold {
  position: absolute;
  width: 1pt;
  top: 0;
  bottom: 0;
}

.jcard-output .printable-fold::before {
  border: solid;
  border-width: 0 0 0 1pt;
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.25in;
  left: -0.5pt;
  right: 0;
  bottom: -0.25in;
}

.jcard-output .template {
  height: 4in;
  line-height: 1.1;
  width: 4.056in;
}

.jcard-output .template.bold {
  font-weight: bold;
}

.jcard-output .template.force-caps {
  text-transform: uppercase;
}

.jcard-output .template.italicize {
  font-style: italic;
}

.jcard-output .template.short-back .template-back {
  align-items: center;
  flex-flow: row nowrap;
  height: 0.6in;
  justify-content: space-between;
  padding: 0 0.075in;
  text-align: left;
  transform: translateY(-0.6in) rotate(90deg) translateY(-0.4in);
  width: 3.85in;
}

.jcard-output .template.short-back .template-boundaries {
  left: 0.4in;
}

.jcard-output .template.short-back .template-side-a-contents,
.jcard-output .template.short-back .template-side-b-contents {
  flex: 1;
  margin: 0 0.075in;
}

.jcard-output .template.short-back .template-side-a-label,
.jcard-output .template.short-back .template-side-b-label {
  display: none;
}

.jcard-output .template-back {
  display: flex;
  flex-flow: column nowrap;
  height: 1in;
  justify-content: center;
  position: absolute;
  transform: translateY(-1in) rotate(90deg);
  transform-origin: bottom left;
  width: 4in;
}

.jcard-output .template-boundaries {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.jcard-output .template-boundaries.outline > .printable-bleed,
.jcard-output .template-boundaries.outline > .printable-crop {
  outline: var(--spacerPx) dotted var(--colorAccentMid);
}

.jcard-output .template-contents {
  line-height: 1.2;
}

.jcard-output .template-contents.hidden,
.jcard-output .template-front-title-group.hidden,
.jcard-output .template-spine-title-group.hidden {
  display: none;
}

.jcard-output .template-cover-image {
  display: block;
  height: 2.556in;
  object-fit: cover;
  position: absolute;
  width: 2.556in;
}

.jcard-output .template-cover-image.fill {
  height: inherit;
  width: inherit;
  z-index: 2;
}

.jcard-output .template-fold-1 {
  left: 1in;
}

.jcard-output .template-fold-2 {
  left: 1.5in;
}

.jcard-output .template-front {
  height: 4in;
  left: 1.5in;
  position: absolute;
  width: 2.556in;
}

.jcard-output .template-front-group {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 1.344in;
  justify-content: space-between;
  padding: 0.05in 0.15in;
  position: relative;
  top: 2.556in;
}

.jcard-output .template-front-title-group,
.jcard-output .template-spine-title-group {
  font-weight: bold;
  white-space: nowrap;
}

.jcard-output .template-front-title-group {
  position: relative;
}

.jcard-output .template-front-title-group.center {
  margin-top: 0.4in;
}

.jcard-output .template-note-group,
.jcard-output .template-spine-title-group {
  padding: 0 0.15in 0 0.15in;
  position: inherit;
  width: 3.7in;
}

.jcard-output .template-side-a-contents {
  margin: 0 0.15in 0.5em;
}

.jcard-output .template-side-a-contents:empty,
.jcard-output .template-side-b-contents:empty,
.jcard-output .template-side-a-label:empty,
.jcard-output .template-side-b-label:empty {
  display: none;
}

.jcard-output .template-side-b-contents {
  margin: 0 0.15in;
}

.jcard-output .template-side-a-label,
.jcard-output .template-side-b-label {
  display: block;
  font-weight: bold;
  margin: 0 0.15in;
}

.jcard-output .template-spine {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 0.5in;
  justify-content: space-between;
  position: absolute;
  transform: translate(1in, -0.5in) rotate(90deg);
  transform-origin: bottom left;
  width: 4in;
}

form .columns > :not(:last-child) {
  margin-inline-end: var(--spacer2);
}

form .columns > .column,
form .columns > .column-2 {
  flex-shrink: 1;
}

form .columns > .column {
  flex-basis: var(--lengthFieldRowSmallMin);
  flex-grow: 0;
}

form .columns > .column-2 {
  flex-basis: var(--lengthFieldRowMin);
  flex-grow: 1;
}

@media print {
  #template {
    position: absolute;
    top: 0;
    left: 0;
  }

  article > :not(#template),
  body > :not(main),
  main > :not(article) {
    display: none;
  }

  article > section {
    margin-block-end: unset;
    margin-block-start: unset;
    padding-block-start: unset;
  }
}
