@font-face {
  font-family: "Alte Haas Grotesk";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/alte-haas-grotesk.ttf") format("truetype");
}

@font-face {
  font-family: "Alte Haas Grotesk";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/alte-haas-grotesk-bold.ttf") format("truetype");
}

.jcard .card-text,
.jcard-duplicate,
.jcard-preview {
  font-family: "Alte Haas Grotesk";
}

.jcard .columns {
  display: flex;
  flex-flow: row wrap;
}

.jcard .columns > :not(:last-child) {
  margin-inline-end: var(--spacer4);
}

.jcard .columns-column,
.jcard .columns-column-2 {
  flex-shrink: 0;
}

.jcard .columns-column {
  flex-basis: var(--lengthFieldRowSmallMin);
  flex-grow: 0;
}

.jcard .columns-column-2 {
  flex-basis: var(--lengthFieldRowMin);
  flex-grow: 1;
}

.jcard .columns-column > .field,
.jcard .columns-column-2 > .field {
  margin-block-end: var(--spacer2);
}

.jcard .printable {
  background-color: #fff;
  color-adjust: exact;
  margin: 0.25in;
  position: relative;
  z-index: 0;
  /* non-standard */
  -webkit-print-color-adjust: exact;
}

.jcard .printable-bleed {
  background-color: inherit;
  position: absolute;
  z-index: -2;
  top: -0.1in;
  left: -0.1in;
  right: -0.1in;
  bottom: -0.1in;
}

.jcard .printable-crop {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.jcard .printable-crop::after,
.jcard .printable-crop::before {
  border: solid;
  content: "";
  position: absolute;
  z-index: -1;
}

.jcard .printable-crop::after {
  border-width: 1pt 0;
  top: 0;
  left: -0.25in;
  right: -0.25in;
  bottom: 0;
}

.jcard .printable-crop::before {
  border-width: 0 1pt;
  top: -0.25in;
  left: 0;
  right: 0;
  bottom: -0.25in;
}

.jcard .printable-fold {
  position: absolute;
  width: 1pt;
  top: 0;
  bottom: 0;
}

.jcard .printable-fold::before {
  border: solid;
  border-width: 0 0 0 1pt;
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.25in;
  left: -0.5pt;
  right: 0;
  bottom: -0.25in;
}

.jcard .template {
  height: 4in;
  line-height: 1.1;
  width: 4.056in;
}

.jcard .template-back {
  display: flex;
  flex-flow: column nowrap;
  height: 1in;
  justify-content: center;
  position: absolute;
  transform: translateY(-1in) rotate(90deg);
  transform-origin: bottom left;
  width: 4in;
}

.jcard .template-boundaries {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.jcard .template-contents {
  line-height: 1.2;
}

.jcard .template-contents.hidden,
.jcard .template-front-title-group.hidden,
.jcard .template-spine-title-group.hidden {
  display: none;
}

.jcard .template-cover-image {
  display: block;
  height: 2.556in;
  object-fit: cover;
  position: absolute;
  width: 2.556in;
}

.jcard .template-cover-image.fill {
  height: inherit;
  width: inherit;
  z-index: 2;
}

.jcard .template-fold-1 {
  left: 1in;
}

.jcard .template-fold-2 {
  left: 1.5in;
}

.jcard .template-front {
  height: 4in;
  left: 1.5in;
  position: absolute;
  width: 2.556in;
}

.jcard .template-front-group {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 1.344in;
  justify-content: space-between;
  padding: 0.05in 0.15in;
  position: relative;
  top: 2.556in;
}

.jcard .template-front-title-group,
.jcard .template-spine-title-group {
  font-weight: bold;
  white-space: nowrap;
}

.jcard .template-front-title-group {
  position: relative;
}

.jcard .template-note-group,
.jcard .template-spine-title-group {
  padding: 0 0.15in 0 0.15in;
  position: inherit;
  width: 3.7in;
}

.jcard .template-side-a-contents {
  margin: 0 0.15in 0.5em;
}

.jcard .template-side-b-contents {
  margin: 0 0.15in;
}

.jcard .template-side-a-label,
.jcard .template-side-b-label {
  display: block;
  font-weight: bold;
  margin: 0 0.15in;
}

.jcard .template-side-a-label:empty,
.jcard .template-side-b-label:empty,
.jcard .template-side-a-contents:empty,
.jcard .template-side-b-contents:empty {
  display: none;
}

.jcard .template-spine {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 0.5in;
  justify-content: space-between;
  position: absolute;
  transform: translate(1in, -0.5in) rotate(90deg);
  transform-origin: bottom left;
  width: 4in;
}

.jcard .template.short-back .template-back {
  align-items: center;
  flex-flow: row nowrap;
  height: 0.6in;
  justify-content: space-between;
  padding: 0 0.075in;
  text-align: left;
  transform: translateY(-0.6in) rotate(90deg) translateY(-0.4in);
  width: 3.85in;
}

.jcard .template.short-back .template-boundaries {
  left: 0.4in;
}

.jcard .template.short-back .template-side-a-contents,
.jcard .template.short-back .template-side-b-contents {
  flex: 1;
  margin: 0 0.075in;
}

.jcard .template.short-back .template-side-a-label,
.jcard .template.short-back .template-side-b-label {
  display: none;
}

.jcard .template.bold {
  font-weight: bold;
}

.jcard .template.force-caps {
  text-transform: uppercase;
}

.jcard .template.italicize {
  font-style: italic;
}

.jcard-duplicate *,
.jcard-preview * {
  box-sizing: content-box;
  color: unset;
}

.jcard-duplicate {
  display: none;
}

.jcard-preview {
  display: inline-block;
}

.menu.root {
  display: unset;
}

@media print {
  footer,
  .jcard > :not(#preview),
  .menu.root {
    display: none;
  }

  .jcard > #preview {
    margin-block-end: 0;
    margin-block-start: 0;
  }

  .jcard-preview {
    margin-block-end: var(--spacer);
  }

  .jcard.print-2 .jcard-duplicate {
    display: inline;
  }
}
