{% unless definedCssHeaderFooter
%}<link rel="stylesheet" href="https://{{ siteUrl }}/res/styles/header-footer.css" />
{% assign definedCssHeaderFooter = true
%}{% endunless
%}{% if page.body.banner
%}<header>
  {{ page.body.banner }}
</header>
{% elsif page.head.title
%}<header>
  <h1>{{ page.body.title }}</h1>
  {% if page.body.subtitle
  %}<p class="subtitle">{{ page.body.subtitle }}</p>
{% endif
%}</header>
{% else
%}<header class="banner">
{% include banner.html %}
</header>
{% endif
%}<div class="hr"></div>