{% unless definedCssNav
%}<link rel="stylesheet" href="https://{{ siteUrl }}/res/styles/nav.css" />
{% assign definedCssNav = true
%}{% endunless
%}<nav>
  <div class="menu line page">
    <span>Menu:</span>
{% for entry in page.menu
%}{% assign slice = entry.label | slice: 0
%}{% if slice == "^"
%}    <span>[<a class="up" href="{{ entry.href }}">{{ entry.label | remove_first: "^" }}</a>]</span>
{% else
%}    <span>[<a href="{{ entry.href }}">{{ entry.label }}</a>]</span>
{% endif %}{% endfor
%}  </div>
  <div class="hr"></div>
</nav>